In [1]:
import pandas as pd
import numpy as np

In [2]:
csv = pd.read_csv("../data/historical_earnings_calendar.csv")
csv.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 75540 entries, 0 to 75539
Data columns (total 7 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   date              75540 non-null  object
 1   symbol            75540 non-null  object
 2   eps               71820 non-null  float64
 3   epsEstimated      71419 non-null  float64
 4   time              75539 non-null  object
 5   revenue           75540 non-null  float64
 6   revenueEstimated  74322 non-null  float64
dtypes: float64(4), object(3)
memory usage: 4.0+ MB

In [3]:
# earnings_id
csv["earnings_id"] = csv.index + 1
print(csv)

           date symbol   eps  epsEstimated time       revenue  \
0      11/22/21      A  1.21          1.17  amc  0.000000e+00
1       8/17/21      A  1.10          0.99  amc  1.586000e+09
2       5/25/21      A  0.71          0.83  amc  1.525000e+09
3       2/16/21      A  0.94          0.89  amc  1.548000e+09
4      11/23/20      A  0.72          0.93  amc  1.483000e+09
...         ...    ...   ...           ...  ...           ...
75535   5/12/16   ZYNE -0.49         -0.56  bmo  7.250000e+03
75536   3/14/16   ZYNE -0.62         -0.29  bmo  4.927500e+04
75537  11/11/15   ZYNE -0.66         -0.38  bmo  1.994070e+05
75538   8/27/15   ZYNE   NaN           NaN  bmo  1.539000e+04
75539    8/5/15   ZYNE   NaN           NaN  bmo  1.539000e+04

       revenueEstimated  earnings_id
0          1.461300e+09            1
1          1.659210e+09            2
2          1.745482e+09            3
3          1.461034e+09            4
4          1.817871e+09            5
...                 ...          ...
75535      8.285714e+03        75536
75536      2.304798e+04        75537
75537      1.948151e+05        75538
75538      0.000000e+00        75539
75539      0.000000e+00        75540

[75540 rows x 8 columns]

In [4]:
# Move earnings_id column to first position
first_col = csv.pop("earnings_id")
csv.insert(0, "earnings_id", first_col)
print(csv)

       earnings_id      date symbol   eps  epsEstimated time       revenue  \
0                1  11/22/21      A  1.21          1.17  amc  0.000000e+00
1                2   8/17/21      A  1.10          0.99  amc  1.586000e+09
2                3   5/25/21      A  0.71          0.83  amc  1.525000e+09
3                4   2/16/21      A  0.94          0.89  amc  1.548000e+09
4                5  11/23/20      A  0.72          0.93  amc  1.483000e+09
...            ...       ...    ...   ...           ...  ...           ...
75535        75536   5/12/16   ZYNE -0.49         -0.56  bmo  7.250000e+03
75536        75537   3/14/16   ZYNE -0.62         -0.29  bmo  4.927500e+04
75537        75538  11/11/15   ZYNE -0.66         -0.38  bmo  1.994070e+05
75538        75539   8/27/15   ZYNE   NaN           NaN  bmo  1.539000e+04
75539        75540    8/5/15   ZYNE   NaN           NaN  bmo  1.539000e+04

       revenueEstimated
0          1.461300e+09
1          1.659210e+09
2          1.745482e+09
3          1.461034e+09
4          1.817871e+09
...                 ...
75535      8.285714e+03
75536      2.304798e+04
75537      1.948151e+05
75538      0.000000e+00
75539      0.000000e+00

[75540 rows x 8 columns]

In [5]:
# See if date is string data type
print(type(csv["date"][0]))

<class 'str'>

In [6]:
df = pd.DataFrame()
df["symbol"] = np.unique(csv.symbol)

In [7]:
# Move earnings_id column to first position
dict_sym = df.to_dict()
dict_sym = {v: k for k, v in dict_sym["symbol"].items()}

In [8]:
# Map each symbol value found in earnings dataframe to the dictionary just created
symbol_id_col = csv["symbol"].map(dict_sym)
print(symbol_id_col)

0           0
1           0
2           0
3           0
4           0
         ...
75535    2377
75536    2377
75537    2377
75538    2377
75539    2377
Name: symbol, Length: 75540, dtype: int64

In [9]:
# Insert new symbol_id column into 3rd position in dataframe
csv.insert(2, "symbol_id", symbol_id_col)
print(csv)

       earnings_id      date  symbol_id symbol   eps  epsEstimated time  \
0                1  11/22/21          0      A  1.21          1.17  amc
1                2   8/17/21          0      A  1.10          0.99  amc
2                3   5/25/21          0      A  0.71          0.83  amc
3                4   2/16/21          0      A  0.94          0.89  amc
4                5  11/23/20          0      A  0.72          0.93  amc
...            ...       ...        ...    ...   ...           ...  ...
75535        75536   5/12/16       2377   ZYNE -0.49         -0.56  bmo
75536        75537   3/14/16       2377   ZYNE -0.62         -0.29  bmo
75537        75538  11/11/15       2377   ZYNE -0.66         -0.38  bmo
75538        75539   8/27/15       2377   ZYNE   NaN           NaN  bmo
75539        75540    8/5/15       2377   ZYNE   NaN           NaN  bmo

            revenue  revenueEstimated
0      0.000000e+00      1.461300e+09
1      1.586000e+09      1.659210e+09
2      1.525000e+09      1.745482e+09
3      1.548000e+09      1.461034e+09
4      1.483000e+09      1.817871e+09
...             ...               ...
75535  7.250000e+03      8.285714e+03
75536  4.927500e+04      2.304798e+04
75537  1.994070e+05      1.948151e+05
75538  1.539000e+04      0.000000e+00
75539  1.539000e+04      0.000000e+00

[75540 rows x 9 columns]

In [10]:
# Drop revenue and revenueEstimated columns
csv = csv.drop(["revenue", "revenueEstimated"], axis = 1)
print(csv)

       earnings_id      date  symbol_id symbol   eps  epsEstimated time
0                1  11/22/21          0      A  1.21          1.17  amc
1                2   8/17/21          0      A  1.10          0.99  amc
2                3   5/25/21          0      A  0.71          0.83  amc
3                4   2/16/21          0      A  0.94          0.89  amc
4                5  11/23/20          0      A  0.72          0.93  amc
...            ...       ...        ...    ...   ...           ...  ...
75535        75536   5/12/16       2377   ZYNE -0.49         -0.56  bmo
75536        75537   3/14/16       2377   ZYNE -0.62         -0.29  bmo
75537        75538  11/11/15       2377   ZYNE -0.66         -0.38  bmo
75538        75539   8/27/15       2377   ZYNE   NaN           NaN  bmo
75539        75540    8/5/15       2377   ZYNE   NaN           NaN  bmo

[75540 rows x 7 columns]

In [11]:
# Export dataframe to csv
csv.to_csv('historical_earnings_new.csv', index=False)